---
import Layout from "../layouts/Layout.astro";
import Characters from "./characters.astro";
---

<Layout title="Rick and Morty">
  <main class="min-h-screen bg-black overflow-hidden">
    <Characters />
  </main>
</Layout>

<style>
  html,
  body {
    overflow-x: hidden;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
  }

  body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
</style>
